# 02 - Measuring Investment Risk 

<b>Quantifying risk :</b>
These can help:

  
- Standard deviation
  - Standard deviation is a measure of how much an investment's returns can vary from its average return. It is a measure of volatility and in turn, risk (ref: https://investinganswers.com/dictionary/s/standard-deviation) 
  - S = [1/n *  (ri - rave)2]½
    - where:
    - ri = actual rate of return
    - rave = average rate of return
    - n = number of time periods

- Variance : 
  - High variance in a stock is associated with higher risk, along with a higher return. Low variance is associated with lower risk and a lower return. High variance stocks tend to be good for aggressive investors who are less risk-averse, while low variance stocks tend to be good for conservative investors who have less risk tolerance (ref: https://www.investopedia.com/ask/answers/041415/variance-good-or-bad-stock-investors.asp) 
  - Variance = $S^2$

## Calculating Risk of a Security

In [9]:
import numpy as np
import pandas as pd
from pandas_datareader import data as wb
import matplotlib.pyplot as plt

startDate = '2015-01-01'
endDate = '2019-12-31'

tickers = ['MSFT', 'IBM']
securityData = pd.DataFrame()

for t in tickers:
    securityData[t] = wb.DataReader(t, data_source='yahoo', start=startDate, end=endDate)['Adj Close']

In [4]:
securityData.tail()

                  MSFT         IBM
Date
2020-07-22  211.750000  128.669998
2020-07-23  202.539993  127.330002
2020-07-24  201.300003  125.790001
2020-07-27  203.850006  126.209999
2020-07-28  202.020004  124.470001

In [11]:
securityReturns = np.log(securityData / securityData.shift(1))
securityReturns

                MSFT       IBM
Date
2015-01-02       NaN       NaN
2015-01-05 -0.009238 -0.015860
2015-01-06 -0.014786 -0.021802
2015-01-07  0.012625 -0.006557
2015-01-08  0.028994  0.021502
...              ...       ...
2019-12-24 -0.000191 -0.004214
2019-12-26  0.008163 -0.000519
2019-12-27  0.001826  0.002665
2019-12-30 -0.008656 -0.018353
2019-12-31  0.000698  0.009219

[1258 rows x 2 columns]

### MSFT

In [30]:
msftMeanDaily = securityReturns['MSFT'].mean() # Daily average return
msftMeanAnnually = securityReturns['MSFT'].mean() * 250 # yearly average return
msftStandardDeviationDaily = securityReturns['MSFT'].std() # standard deviation for day
msftStandardDeviationAnnually = securityReturns['MSFT'].std() * 250 ** 0.5 # standard variation is square root of the variance

### IBM

In [31]:
ibmMeanDaily = securityReturns['IBM'].mean() # Daily average return
ibmMeanAnnually = securityReturns['IBM'].mean() * 250 # yearly average return
ibmStandardDeviationDaily = securityReturns['IBM'].std() # standard deviation for day
ibmStandardDeviationAnnually = securityReturns['IBM'].std() * 250 ** 0.5 # standard variation is square root of the variance

### Compare MSFT vs IBM

In [45]:
print('MEANS --')
print('MSFT: %f - IBM: %f' %(msftMeanAnnually, ibmMeanAnnually))
print('STANDARD DEVIATIONS --')
print('MSFT: %f - IBM: %f' %(msftStandardDeviationAnnually, ibmStandardDeviationAnnually))

# OR WE CAN CREATE AN ARRAY
print('----------------------')
means = securityReturns[['MSFT', 'IBM']].mean() * 250
stdDeviations = securityReturns[['MSFT', 'IBM']].std() * 250 ** 0.5
print('MEANS --')
print(means)
print('STANDARD DEVIATIONS --')
print(stdDeviations)

MEANS --
MSFT: 0.263230 - IBM: 0.005184
STANDARD DEVIATIONS --
MSFT: 0.231661 - IBM: 0.205401
----------------------
MEANS --
MSFT    0.263230
IBM     0.005184
dtype: float64
STANDARD DEVIATIONS --
MSFT    0.231661
IBM     0.205401
dtype: float64

In [ ]:
# OR